/* @import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,800;1,600&display=swap"); */

/* li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  color: #2a68ff;
} */

.icon {
  cursor: pointer;
}

.card {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

/* li:hover::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  bottom: -5px;
  height: 4px;
  background: #2a68ff;
  color: #2a68ff;
} */

.icon {
  cursor: pointer;
}

.card {
  background: url(/src/assets/bg-gray.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.firstDiv {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  list-style: none;
  font-size: 20px;
}

.active {
  background: #2a68ff;
  color: white;
  border-radius: 10%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.page-item {
  background: #9ca0ab;
  color: black;
  border-radius: 10%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

